.Link_ForgetPassword {
  color: rgba(0, 0, 0, 0.3) !important;
  font-family: $FontFamilyRoboto;
  font-size: 10px;
  font-style: normal;
  cursor: pointer;
  margin-left: 201px;
  margin-top: 4px;
  height: 12px;
  line-height: 12px;
  font-weight: 500;
}
