.Modal-Header {
  padding: 1.25rem;
}

.Modal-Body {
  padding: 3rem 2.5rem 4rem 2.5rem;
  margin: auto;
}

.Modal-Icon {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
}

.progressBar_default_style {
  height: 8px;
  width: 100%;
  background: $colorGreen;
  border-radius: 7px;
}

.container_ProgressBar_default_style {
  height: 8px;
  background: $colorGreen;
  border-radius: 7px;
}

.modal-dialog {
  justify-content: center;
  align-items: center;
  display: flex;
}

.modal-content-Lot {
  background-color: #ffffff;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 264px;
  min-height: 120px;
  padding: 13px 18px 16px 18px;
}

.container-icon-close-modal {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 4px;
}

.container-btn-validation {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.container-margin {
  margin-top: 25px;
}

.container-text-add-sub-category {
  cursor: pointer;
  margin-top: 16px;
  display: flex;
}

.small-modal-content {
  background-color: #ffffff;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: max-content;
  min-height: max-content;
  padding: 16px;
}

.modal-content-validate-delete {
  padding-top: 24px;
}

.container-btn-modal-validate-delete {
  display: flex;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
}
.modal-content {
  border: none;
}
.modal-content-Group {
  padding: 13px 13px 16px 18px;
  width: 264px;
  background-color: #ffffff;
  box-shadow: 0px 2px 7p x rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.modal-dialog-Group {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 15%;
}

.modal_delete_group {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
  padding: 19px 24px 0px 24px;
  width: 655px;
  height: 366px;
}
.detail-modal-content {
  background-color: #ffffff;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 524px;
  min-height: max-content;
  padding: 24px;
}

.info-modal-content {
  background-color: #ffffff;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 346px;
  padding: 20px 28px 50px 28px;
}

.modal-content-sub-category {
  background-color: #ffffff;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 264px;
  min-height: 260px;
  padding: 13px 18px 18px 18px;
}

.container-icon-close-modal-category {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.container-margin-btn {
  margin-top: 16px;
}
.modal-content-with-input {
  background-color: #ffffff;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 334px;
  min-height: 274px;
  padding: 16px;
}
.modal-delete-account {
  background-color: #ffffff;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 493px;
  min-height: 298px;
  padding: 16px;
}
.modal-content-deconnexion {
  background-color: #ffffff;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 334px;
  min-height: 208px;
  padding: 16px;
}
.container-deconnexion-with-button {
  justify-content: center;
  align-items: center;
  padding-left: 18px;
  padding-right: 26px;
  padding-bottom: 8px;
}
