.Row_Pagination {
  display: flex;
}

.Row_Pagination_Group {
  display: flex;
  margin-bottom: 40px;
}

// custome scroll
::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

.ForgetPassword-Card-Container {
  width: 334px;
  height: 275px;
  text-align: center;
  margin: auto;
  background: $BackgroundLoginContainer;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  @include border-radius(0.625rem);
  background-color: $BackgroundWhite;
  margin-bottom: 110px;
}

.ForgetPasswordPage-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $BackgroundColorLoginTemplate;
}

.OrganismHeader-Avatar-Container {
  display: flex;
  align-items: center;
  margin-top: 30px;
  cursor: pointer;
}

.OrganismHeader-Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.OrganismHeader-Avatar-Description-Container {
  display: flex;
  align-items: center;
}

@media (max-width: 500px) {
  .OrganismHeader-Avatar-Description-Container {
    display: none;
  }
}

.OrganismAuth_Container {
  background: $BackgroundLoginContainer;
  -webkit-box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  min-height: 215px;
  width: 334px;
  padding-bottom: 32px;
}

.LoginTemplate_Container {
  background-color: $BackgroundColorLoginTemplate;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.OrganismEditor_Container {
  width: 100%;
  height: auto;
  background: $BackgroundWhite;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.TemplateLogin_Content {
  /*  -ms-flex-item-align: center;
  -ms-grid-row-align: center; */
  /* align-self: center; */
  margin-top: 164px;
}

.OrganismInfo_Container {
  background: $BackgroundWhite;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 409px;
  min-height: 104px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 24px;
  padding-left: 24px;
}

.Modal_Container_TemplateProfileModal {
  background: $BackgroundWhite;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  min-width: 635px;
  height: auto;
}

.OrganismEntrepriseInfo_Container {
  background: $BackgroundWhite;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 409px;
  min-height: 160px;
  height: auto;
  margin-top: 15px;
}

.OrganismDroitAdmin_Container {
  background: $BackgroundWhite;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 409px;
  min-height: 304px;
  height: auto;
}

.chang-password-Card-Container {
  width: 334px;
  height: 376px;
  text-align: center;
  margin: auto;
  background: $BackgroundLoginContainer;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  @include border-radius(0.625rem);
  background-color: $BackgroundWhite;
}

.container_row {
  margin-bottom: 24px;
  margin-top: 64px;
}

.container_row_Lots {
  margin-bottom: 24px;
  margin-top: 64px;
}

.container_Group {
  display: flex;
  justify-content: flex-end;
}
.container-description-info {
  margin-bottom: 16px;
}
.container-space {
  margin-top: 16px;
}
.container-add-admin {
  justify-content: center;
  align-items: center;
}
.container-input-with-button {
  justify-content: center;
  align-items: center;
  padding-top: 34px;
  padding-left: 18px;
  padding-right: 26px;
  padding-bottom: 8px;
}
