$sidebar-bg-color: #ff8577 !default;
$sidebar-color: white !default;
$sidebar-width: 231px !default;
$sidebar-collapsed-width: 56px !default;
$highlight-color: #d8d8d8 !default;
$submenu-bg-color: #2b2b2b !default;
$submenu-bg-color-collapsed: #2b2b2b !default;
$icon-bg-color: #2b2b2b !default;
$icon-size: 20px !default;
$active-link-bg: white !default;

$breakpoint-xs: 480px !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;
$sidebar-title-selected: #ff8577 !default;
