.ForgetPassword-Card-Tittle {
  @include margin-bottom(25px);
  @include Text-font-style(
    #4d4644,
    $text-font-stack,
    normal,
    bold,
    1.5rem,
    1.75rem
  );
}
.ForgetPassword-Card-Description {
  @include margin-bottom(1rem);
  @include Text-font-style(
    rgba(0, 0, 0, 0.8),
    $FontFamilyRoboto,
    normal,
    normal,
    14px,
    18px
  );
}
.ForgetPassword-Card-Input {
  background: rgba(119, 131, 143, 0.1);
  @include border-radius(0.625rem);
  @include margin-bottom(25px);
  border: none;
  font-family: $FontFamilyRoboto;
}
.ForgetPassword-Card-Button {
  @include border-radius(0.5rem);
  width: 100%;
  height: 2.375rem;
  background: $BackgroundLoginContainer;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  @include Text-font-style(
    $CheckBoxColor,
    $text-font-stack,
    normal,
    600,
    0.875rem,
    1rem
  );
  border: 0;

  :hover {
    background: $BackgroundLoginContainer;
    @include Text-font-style(
      $CheckBoxColor,
      $text-font-stack,
      normal,
      600,
      0.875rem,
      1rem
    );
  }
  :focus {
    outline: auto;
  }
}

.ForgetPassword-Logo {
  @include Text-font-style(
    $LogoColor,
    $text-font-stack,
    normal,
    bold,
    2.25rem,
    2.625rem
  );
  @include margin-bottom(15px);
  text-align: center;
}
.Molecule-Logo {
  color: $WhiteColor;
}
